<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    
    <div class="main-content">
        <div class="title-bar">
            <div class="title" style="padding: 25px;">Task Manager</div>
            <div class="logout-section">

                <form action="/logout" method="GET">
                    <button class="button" type="submit">Logout</button>
                </form>
            </div>
        </div>
        <div class="search-container">
                <input type="text" id="searchInput" placeholder="Search for task..." onkeyup="searchTasks()">
        </div>

        <div class="task-list">
            <% tasks.forEach(function(task, index) { %>
                <div class="task">
                    <div class="task-header">Task: <%= task.name %>
                    </div>
                    <div class="task-details">
                        <p><strong>Notes:</strong>
                            <%= task.notes %>
                        </p>
                        <p><strong>Completeness:</strong>
                            <select id="completenessDropdown<%= task.id %>"
                                onchange="updateCompleteness('<%= task.id %>', '<%= task.name %>', '<%= task.notes %>')">
                                <option value="Todo">Todo</option>
                                <option value="InProgress">In Progress</option>
                                <option value="Done">Done</option>
                            </select>
                        </p>
                        <button onclick="deleteTask('<%= task.id %>')">Delete
                            Task</button>
                    </div>
                </div>
            <% }); %>
        </div>

        
    </div>
    <div class="add-task-section">
        <h2>Add Task</h2>
        <form action="/addtask" method="POST">
            <select class="dropdown2" name="owner" >
            <option value="" disabled selected>User</option>
            <% records.forEach(function(record) { %>
                <option value="<%= record.id %>">
                    <%= record.name %>
                </option>
            <% }); %>
            </select>
            <input type="text" id="Title" name="textbox" placeholder="Task Title" style="width: 200px;" required>
            <textarea class="notes" name="notes" placeholder="Notes"></textarea>
            <button class="button" type="submit">Add Task</button>
        </form>
    </div>
    
    </div>
    <script>
        function searchTasks() {
            var input, filter, tasks, task, notes, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            tasks = document.getElementsByClassName('task-list');
            task = tasks[0].getElementsByClassName('task');

            for (i = 0; i < task.length; i++) {
                notes = task[i].getElementsByTagName('p')[0];
                txtValue = notes.textContent || notes.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    task[i].style.display = '';
                } else {
                    task[i].style.display = 'none';
                }
            }
        }

        function updateCompleteness(id, name, notes) {
            var completenessDropdown = document.getElementById('completenessDropdown' + id);
            var newCompleteness = completenessDropdown.value;

            fetch('/updateTask', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: id, name: name, notes: notes, status: newCompleteness })
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Task completeness updated successfully.');
                    } else {
                        console.error('Failed to update task completeness.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


        function deleteTask(id) {
            fetch('/deleteTask', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: id })
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Task deleted successfully.');
                        location.reload();
                    } else {
                        console.error('Failed to delete task.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


    </script>
</body>

</html>